<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
    <style>
        form, button {
            display: contents;
        }

        th, td, table {
            border-collapse: collapse;
            border: 1px solid black
        }

        th, td {
            padding: 5px;
            width: 30%
        }
    </style>

</head>
<body>
<header th:replace="~{block/header.html  :: header}"></header>
<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th scope="col" style=" width: 25%;">Имя</th>
            <th scope="col">Почта</th>
            <th scope="col">Возраст</th>
            <th scope="col"><form th:action="@{/admin/users/save}">
                <button type="submit" title="Добавить">➕</button>
            </form></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user :${users}">
            <td th:text="${user.getUsername()}"/>
            <td th:text="${user.getEmail()}"/>
            <td th:text="${user.getAge()}"/>
            <td>
                <form th:action="@{/admin/users/change/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit" title="Редактировать">✎</button>
                </form>
                &nbsp;
                <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit" title="Удалить">❌</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>