<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<header th:replace="~{block/header.html  :: header}"></header>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="p-0 col-2">
                <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" href="/admin" sec:authorize="hasAuthority('ROLE_ADMIN')" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-link " href="/user" sec:authorize="(hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER'))"
                       role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </div>
            <div class="col-10 px-0">
                <div class="container-fluid">
                    <h1 class="m-3 fw-bold">Admin panel</h1>
                    <div class="tab-content" id="tabContent">
                        <ul class="nav nav-tabs">
                            <a class="nav-link active" data-toggle="tab">Users Table</a>
                            <a class="nav-link" data-toggle="tab" th:href="@{/admin/users/save}">New User</a>
                        </ul>
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>All users</h4>
                                </div>
                            </div>

                            <div class="card-body" bg-primary text-white>
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-content">
                                    <tr th:each="user : ${allUsers}">
                                        <td th:text="${user.id}">id</td>
                                        <td th:text="${user.username}">name</td>
                                        <td th:text="${user.age}">age</td>
                                        <td th:text="${user.email}">email</td>
                                        <td>
                                            <p th:each="role: ${user.roles}" th:text="${role.name}">
                                            </p>
                                        </td>
                                        <td>
                                            <a type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                               data-bs-target="#editModal"
                                               th:data-bs-target="${'#editModal'+user.id}">Edit</a>
                                        </td>
                                        <td>
                                            <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                               data-bs-target="#DELETE"
                                               th:data-bs-target="${'#DELETE'+user.id}">Delete</a>
                                        </td>

                                        <div class="modal fade" th:id="${'editModal'+user.id}"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" modal-dialog-centered>
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <form th:object="${user}">
                                                        <input id="editFormId" type="hidden" name="id"
                                                               th:value="${user.id}">
                                                        <div class="modal-body col-md text-center">
                                                            <br>
                                                            <label for="editFormUsername"><b>Username</b></label>
                                                            <input th:name="username" id="editFormUsername"
                                                                   th:type="text"
                                                                   class="form-control" th:data-user-id="${user.id}"
                                                                   th:value="${user.username}"/>
                                                            <br>
                                                            <label for="editFormAge"><b>Age</b></label>
                                                            <input th:name="age" th:type="number"
                                                                   th:data-user-id="${user.id}"
                                                                   class="form-control" id="editFormAge"
                                                                   th:value="${user.age}"/>
                                                            <br>
                                                            <label for="editFormEmail"><b>Email</b></label>
                                                            <input th:name="email" th:type="text"
                                                                   th:data-user-id="${user.id}"
                                                                   class="form-control" id="editFormEmail"
                                                                   th:value="${user.email}"/>
                                                            <br>
                                                            <label for="editFormPassword"><b>Password</b></label>
                                                            <input th:name="password" type="text"
                                                                   th:data-user-id="${user.id}"
                                                                   class="form-control" id="editFormPassword"
                                                                   th:value="${user.password}"/>
                                                            <br>
                                                            <label for="editFormRoles"><b>Role</b></label>
                                                            <select multiple class="form-control form-control-sm"
                                                                    th:data-user-id="${user.id}"
                                                                    id="editFormRoles" name="roles" size="2" required>
                                                                <option th:each="role: ${allRoles}"
                                                                        th:value="${role.name}"
                                                                        th:selected="${user.roles.contains(role)}">
                                                                    <th:block th:text="${role.name}">
                                                                    </th:block>
                                                                </option>
                                                            </select>
                                                            <br><br>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary"
                                                                    onclick="editUser(this)"
                                                                    th:data-user-id="${user.id}">
                                                                Edit
                                                            </button>
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" th:id="${'DELETE'+user.id}"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete
                                                            user</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <form class="modal-body col-md text-center">
                                                        <div class="modal-body col-md">
                                                            <label for="id"><b>ID</b></label>
                                                            <input th:name="id" th:type="text" class="form-control"
                                                                   id="id" th:value="${user.id}" disabled/>
                                                            <br>
                                                            <label for="name1"><b>Name</b></label>
                                                            <input th:name="name" th:type="text"
                                                                   class="form-control"
                                                                   id="name1" th:value="${user.username}" disabled/>

                                                            <label for="age1"><b>Age</b></label>
                                                            <input th:name="age" th:type="number"
                                                                   class="form-control"
                                                                   id="age1" th:value="${user.age}" disabled/>
                                                            <br>
                                                            <label for="email1"><b>Email</b></label>
                                                            <input th:name="email" th:type="text"
                                                                   class="form-control"
                                                                   id="email1" th:value="${user.email}" disabled/>
                                                            <br>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-danger"
                                                                    onclick="deleteUser(this)"
                                                                    th:data-user-id="${user.id}">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function getAllUsers() {
        document.querySelector("div.modal.show.fade").click();
        let allRoles = JSON.parse(`[{"name":"ROLE_ADMIN","id":1,"authority":"ROLE_ADMIN"},{"name":"ROLE_USER","id":2,"authority":"ROLE_USER"}]`)
        fetch("http://localhost:8080/admin/users", {
            "method": "GET",
            "mode": "cors",
            "credentials": "include"
        }).then(fetch => fetch.json()).then(allUsers => {
            let newHtml = allUsers.map(user => {
                            return `<tr>
              <td>${user.id}</td>
              <td>${user.username}</td>
              <td>${user.age}</td>
              <td>${user.email}</td>
              <td>` + user.roles.map(role => `<p>${role.name}</p>`).join("") +`
                </td>
                  <td>
                    <a type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                       data-bs-target="#editModal${user.id}">Edit</a>
                  </td>
                  <td>
                    <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                       data-bs-target="#DELETE${user.id}">Delete</a>
                  </td>

                  <div class="modal fade" id="editModal${user.id}"
                       aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" modal-dialog-centered>
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                        </div>
                        <form>
                          <input id="editFormId" type="hidden" name="id"
                                 value="${user.id}">
                          <div class="modal-body col-md text-center">
                            <br>
                            <label for="editFormUsername"><b>Username</b></label>
                            <input name="username" id="editFormUsername"
                                   type="text"
                                   class="form-control" data-user-id="${user.id}"
                                   value="${user.username}"/>
                            <br>
                            <label for="editFormAge"><b>Age</b></label>
                            <input name="age" type="number"
                                   data-user-id="${user.id}"
                                   class="form-control" id="editFormAge"
                                   value="${user.age}"/>
                            <br>
                            <label for="editFormEmail"><b>Email</b></label>
                            <input name="email" type="text"
                                   data-user-id="${user.id}"
                                   class="form-control" id="editFormEmail"
                                   value="${user.email}"/>
                            <br>
                            <label for="editFormPassword"><b>Password</b></label>
                            <input name="password" type="text"
                                   data-user-id="${user.id}"
                                   class="form-control" id="editFormPassword"
                                   value="${user.password}"/>
                            <br>
                            <label for="editFormRoles"><b>Role</b></label>
                            <select multiple class="form-control form-control-sm"
                                    data-user-id="${user.id}"
                                    id="editFormRoles" name="roles" size="2" required>
                              `+allRoles.map(role => `<option
                                      value="${role.name}"
                                      selected="${user.roles.some(e=>e.name===role.name)}">
                                <block>${role.name}</block>
                              </option>`).join("") +`
                            </select>
                            <br><br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary"
                                    onclick="editUser(this)"
                                    data-user-id="${user.id}">
                              Edit
                            </button>
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="DELETE${user.id}"
                       aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete
                            user</h5>
                          <button type="button" class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                        </div>
                        <form class="modal-body col-md text-center">
                          <div class="modal-body col-md">
                            <label for="id"><b>ID</b></label>
                            <input name="id" type="text" class="form-control"
                                   id="id" value="${user.id}" disabled/>
                            <br>
                            <label for="name1"><b>Name</b></label>
                            <input name="name" type="text"
                                   class="form-control"
                                   id="name1" value="${user.username}" disabled/>

                            <label for="age1"><b>Age</b></label>
                            <input name="age" type="number"
                                   class="form-control"
                                   id="age1" value="${user.age}" disabled/>
                            <br>
                            <label for="email1"><b>Email</b></label>
                            <input name="email" type="text"
                                   class="form-control"
                                   id="email1" value="${user.email}" disabled/>
                            <br>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <button type="button" class="btn btn-danger"
                                    onclick="deleteUser(this)"
                                    data-user-id="${user.id}">
                              Delete
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </tr>`;
            }).join("");
            document.querySelector("#table-content").innerHTML = newHtml;
        });

    }

    function deleteUser(deleteButton) {
        let id = deleteButton.getAttribute('data-user-id');
        console.log("Удаление Пользователя", id);
        fetch(`/admin/users/${id}`, {
            "method": "DELETE",
            "mode": "cors",
            "credentials": "include"
        }).then(value => {
            console.log("Удалили");
            return value;
        }).then(p => {
            getAllUsers()
        });

    }

    function editUser(editButton) {
        let id = editButton.getAttribute('data-user-id');
        let username = document.querySelector(`[data-user-id='${id}'][name='username']`).value;
        let age = document.querySelector(`[data-user-id='${id}'][name='age']`).value;
        let email = document.querySelector(`[data-user-id='${id}'][name='email']`).value;
        let password = document.querySelector(`[data-user-id='${id}'][name='password']`).value;
        let roles = document.querySelector(`[data-user-id='${id}'][name='roles']`).value;
        console.log("Редактирование Пользователя", id, password, username, age, roles, email);
        fetch(`/admin/users/change`, {
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            "body": `id=${id}&username=${username}&age=${age}&email=${email}&password=${password}&roles=${roles}`,
            "method": "PATCH",
            "mode": "cors",
            "credentials": "include"
        }).then(value => {
            console.log("Отредактировали");
            return value;
        }).then(p => {
            getAllUsers()
        });

    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>