<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        table, tr, td {
            border: 1pt solid black;
        }
    </style>
</head>
<body>
<div>
    <table>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getVin()}"></td>
            <td th:text="${car.getYear()}"></td>
        </tr>
    </table>
</div>
</body>
</html>